/* home section(first section) css */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  flex-direction: column;
  
}

 


/* second section is hosting and is css */
.hosting{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(123, 120, 120, 0.181);
height:1300px;

    
 
}
.hosting-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hosting-container .left-hosting{

   
    width:40vw;
}

.left-hosting .main-text{
    color:var(--green);
    display: block;
      text-align: center;
    font-size:2.7rem;
    box-sizing: border-box;
height: auto;
width: 25vw;
    margin:-123px 0px 0px 32px;
padding:0px 0px ;
    
   
}
.left-hosting .main-text::before{
    content:"Hosting";
}
.left-hosting .secondary-text{
    
    display: block;
      text-align: center;
    font-size:1.7rem;
    box-sizing: border-box;
    width:60vw;
    padding:0px 110px;
   margin: 0px 0px 0px -126px
    
    
    
}
   .left-hosting a{
    display: block;
    height:50px;
       width:120px;
       background:var(--green);
       margin:auto;
       text-align: center;
       box-sizing:border-box;
       margin-top:30px;
       
       padding:10px;
       border-radius:15px;
       text-decoration: none;
       color:var(--white);
}

.hosting-container .right-hosting{
   
   
    width:55vw;
}
.right-hosting{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
    
}
.right-hosting .upperbox{
    display:flex;
     justify-content: center;
    align-items:center;
    
    
    
    flex-direction: column;
}
.upperbox .box1,.upperbox .box2{
    
      flex-direction:column;
    /* margin: -90px 20px 10px 80px; */
    margin: 11px 121px 43px 42px;
    height:255px;
   
   
}

.right-hosting .lowerbox{
    display:flex;
     justify-content: center;
    align-items:center;
    
    flex-direction: column;
    
}
.lowerbox .box3,.lowerbox .box4{
  
    /* margin: 10px 20px 10px 80px; */
    margin: 6px 114px 60px 46px;
     
    height:255px;
   
}


/* section third  */
.third{
    display:flex;
    justify-content: center;

   height:918px;
   background:rgba(123, 120, 120, 0.181);
}
.third .bg-green{
height:918px;
width:25vw;
background:var(--green);
margin-right:203px;
/*! flex-direction: column; */
display: flex;
flex-direction: column;
}
.bg-green .circle {
    height: 15vw;
    width: 15vw;
    background: var(--green);
    border-radius: 178px;
    margin: 21px 24px 3px -213px;
    position: absolute;
    z-index: 3;
}

.bg-green img{
    height: auto;
    width: 63vw;
    margin: 81px 0px 0px -129px;
}
.bg-green .text-container{
    /*! height: 274px; */
    /* margin: -138px 0px 0px 305px; */
    margin: 5vw 4vw 0vw -8vw;
    background: var(--white);
    width: 362px;
    border-radius: 20px;
    padding: 14px;
    position: relative;
    z-index: 2;

}
.text-container span {
    font-size: 1.9rem;
    color: var(--green);
}
/* tstimonial section css */
.testimonial{
  
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.testimonial h1{
   margin:40px 30px 0px 0px ;
    
}
.testimonial span{
    color:var(--green);
    font-size:5rem;
}
.testimonial .intro{
    color:black;
    font-size:1.4rem;
    width: 64vw;

}
.testimonial .clients{
    display:flex;
      align-items: center;
    flex-direction: column;
  
    
}
.clients .upperbox{
    display: flex;
    align-items: center;
}
.upperbox .client1{
    display: flex;
    flex-direction: column;
    background:rgba(123, 120, 120, 0.181);
    width:vw;
    box-sizing:border-box;
     border-radius:20px;
    padding:20px;
    
    margin: 37px 2px 2px 46px;
}
.client1 img{
    display: block;
    margin:auto;
    height:120px;
    border-radius:60px;
    border:4px solid white
}
.upperbox .client2{
    display: flex;
    flex-direction: column;
    background:rgba(123, 120, 120, 0.181);
    width:vw;
    /*! box-sizing:border-box; */
     border-radius:20px;
    padding:20px;
    
    margin: 63px 75px 31px 76px;
}
.client2 img{
    display: block;
    margin:auto;
    height:120px;
    border-radius:60px;
    border:4px solid white
}
.clients .lowerbox{
    display: flex
}
.lowerbox .client3{
    display: flex;
    flex-direction: column;
    background:rgba(123, 120, 120, 0.181);
    width:vw;
    box-sizing:border-box;
     border-radius:20px;
    /*! padding:20px; */
    
    padding: 20px;
    margin: 8px 83px 5px 48px;
}
.client3 img{
    display: block;
    margin:auto;
    height:120px;
    border-radius:60px;
    border:4px solid white
}
.lowerbox .client4{
    display: flex;
    flex-direction: column;
    background:rgba(123, 120, 120, 0.181);
    width:vw;
    box-sizing:border-box;
     border-radius:20px;
    /*! padding:30px; */
    
    padding: 20px;
    margin: 3px 78px 2px -5px;
}
.client4 img{
    display: block;
    margin:auto;
    height:120px;
    border-radius:60px;
    border:4px solid white
}
.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    height:200px;
    background:black;
    color:white;
    margin-top:30px;
  
}
